@model IEnumerable<Yonetici>
@{
    Layout="~/Views/Shared/_Admin.cshtml";
}

<div class="container">
    <h2>Admin List</h2>
    <hr />
    <div>
        <a class="btn btn-primary" href="/Admin/Create">Create</a>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @if(Model.Count()>0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Yonetici yonetici in Model)
                        {
                            <tr>
                                <td>@yonetici.adminID</td>
                                <td>@yonetici.username</td>
                                <td>@yonetici.password</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="Edit" asp-route-id="@yonetici.adminID">
                                        Details
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="Delete" asp-route-id="@yonetici.adminID">
                                        Delete
                                    </a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Admin Yok
                </div>
            }
        </div>
    </div>
</div>